<div class="m-5 p-5 border border-2 border-light rounded-3">

  <div class="mb-3 row">
    <label class="col-md-2 col-form-label">Provider Type:</label>
    <div class="col-md-4">
      <select class="form-select" @onchange=@SelectedProviderChanged>
        <option selected value="0">Twitch</option>
        <option value="1">YouTube</option>
        <option value="2">Discord</option>
      </select>
    </div>
  </div>

  @if (connection.Service == StreamService.Twitch)
  {
    <h4 class="mb-3">Twitch Settings:</h4>
    <div class="mb-3 row">
      <label class="col-md-2 col-form-label">Twitch Username:</label>
      <div class="col-md-4">
        <input type="text" class="form-control" @bind-value=@connection.User>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-md-2 col-form-label">Twitch OAuth Token:</label>
      <div class="col-md-4">
        <input type="password" class="form-control" @bind-value=@connection.Password>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-md-2 col-form-label">Twitch Chat to Connect:</label>
      <div class="col-md-4">
        <input type="text" class="form-control" @bind-value=@connection.ChannelName>
        <div class="form-text">You can find this at the end of the url of the channel.</div>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-md-2 col-form-label">Save Connection</label>
      <div class="col-md-4">
        <input type="checkbox" class="form-check-input" @bind=connection.Save>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-primary" @onclick=@setupConnection>Add Twitch Connection</button>
      </div>
      <div class="col-md-2 mt-2 mt-md-0">
        <button class="btn btn-primary" @onclick=@cancel>Cancel/Back</button>
      </div>
      <div class="col-md-2 mt-2 mt-md-0">
        <button class="btn btn-outline-primary" @onclick=@(()=>{showHelp = !showHelp;})>HELP!</button>
      </div>
    </div>

    @if (showHelp)
    {
      <div class="mt-5">
        Generating Twitch Token:<br />
        <ul>
          <li>(Optional) Create a new Twitch Account</li>
          <li>Visit this site: <a href="https://twitchapps.com/tmi/" target="_blank">https://twitchapps.com/tmi/</a></li>
          <li>Click "Connect" and log in to the Account</li>
          <li>Follow the prompts</li>
          <li>Copy/Save your token for later use (token should look similar: "oauth:*************")</li>
        </ul>
      </div>
    }
  }
  else if (connection.Service == StreamService.YouTube)
  {

    <h4 class="mb-3">Youtube Settings:</h4>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">YouTube ApiKey:</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" @bind-value=@connection.Password>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-md-2 col-form-label">Youtube Streamer to Connect:</label>
      <div class="col-md-4">
        <input type="text" class="form-control" @bind-value=@connection.ChannelName>
        <div class="form-text">You can find this at the end of the url of the channel homapage</div>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-md-2 col-form-label">Save Connection</label>
      <div class="col-md-4">
        <input type="checkbox" class="form-check-input" @bind=connection.Save>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <button class="btn btn-primary" @onclick=@setupConnection>Add Youtube Connection</button>
      </div>
      <div class="col-md-2 mt-2 mt-md-0">
        <button class="btn btn-primary" @onclick=@cancel>Cancel/Back</button>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-outline-primary" @onclick=@(()=>{showHelp = !showHelp;})>HELP!</button>
      </div>
    </div>
    @if (showHelp)
    {
      <div class="mt-5">
        Generating Youtube Token:<br />
        <ul>
          <li>(Optional) Create a new Google Account</li>
          <li>Log in to: <a href="https://console.cloud.google.com" target="_blank">https://console.cloud.google.com</a></li>
          <li>Create a new project with any name (<a href="https://console.cloud.google.com/projectcreate" target="_blank">https://console.cloud.google.com/projectcreate</a>)</li>
          <li>Navigate to "APIs & Services"/"Library", then add "youtube data api v3" (or click <a href="https://console.cloud.google.com/apis/library/youtube.googleapis.com" target="_blank">https://console.cloud.google.com/apis/library/youtube.googleapis.com</a>)</li>
          <li>Navigate to "APIs & Services"/"Credentials", then create new credentials(api key) (or click <a href="https://console.cloud.google.com/apis/credentials" target="_blank">https://console.cloud.google.com/apis/credentials</a>)</li>
          <li>Copy/Save your "API Key" for later use (token should look like a long random string)</li>
        </ul>
      </div>
    }
  }
  else if (connection.Service == StreamService.Discord)
  {
    <h4 class="mb-3">Discord Settings:</h4>
    <div class="mb-3 row">
      <label class="col-md-2 col-form-label">Discord Token:</label>
      <div class="col-md-4">
        <input type="text" class="form-control" @bind-value=@connection.Password>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-md-2 col-form-label">Save Connection</label>
      <div class="col-md-4">
        <input type="checkbox" class="form-check-input" @bind=connection.Save>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-primary" @onclick=@setupConnection>Add Discord Connection</button>
      </div>
      <div class="col-md-2 mt-2 mt-md-0">
        <button class="btn btn-primary" @onclick=@cancel>Cancel/Back</button>
      </div>
      <div class="col-md-2 mt-2 mt-md-0">
        <button class="btn btn-outline-primary" @onclick=@(()=>{showHelp = !showHelp;})>HELP!</button>
      </div>
    </div>

    @if (showHelp)
    {
      <div class="mt-5">
        Generating Discord Token:<br />
        <ul>
          <li>Visit this site: <a href="https://discord.com/developers/applications" target="_blank">https://discord.com/developers/applications</a></li>
          <li>Click "New Application" on the upper right corner</li>
          <li>Name the app and create it</li>
          <li>(Optional) Set up the bot name, icon, etc. on the next site</li>
          <li>Go to the "Bot" menu, enable "MESSAGE CONTENT INTENT", then save</li>
          <li>Go to the "OAuth2"/"URL Generator" menu, select "bot" scope, then select "Read Messages/View Channels", "Send Messages", and "Read Message History" permissions</li>
          <li>Open the generated link on a new tab, add the application to your server</li>
          <li>(Optional) Set up roles for the bot to restrict channel access</li>
          <li>Go to the "Bot" menu, click on "Reset Token"</li>
          <li>Copy/Save your Token for later use (token should look like a long random string)</li>
        </ul>
      </div>
    }
  }
</div>

@code {
  private Connection connection = new();
  private bool showHelp = false;

  [Parameter]
  public EventCallback<Connection?> FinishCallback { get; set; }

  private async Task setupConnection()
  {
    await FinishCallback.InvokeAsync(connection);
  }

  private async Task cancel()
  {
    await FinishCallback.InvokeAsync(null);
  }

  private void SelectedProviderChanged(ChangeEventArgs e)
  {
    if (e.Value is not null)
    {
      connection.Service = (StreamService)int.Parse((string)e.Value);
      connection.User = "";
      connection.Password = "";
    }
  }


}
