<h3 class="m-5">Settings</h3>

<div class="m-5 p-5 border border-2 border-light rounded-3">
  <div class="mb-3 row">
    <label class="col-md-2 col-form-label">Chat Background Color:</label>
    <div class="col-md-4">
      <input type="text" class="form-control" @bind-value=@Config.BackgroundColor>
    </div>
    <div class="col-md-1"><button class="btn" style="background-color: #@(Config.BackgroundColor)">SAMPLE</button></div>
  </div>
  <div class="mb-3 row">
    <label class="col-md-2 col-form-label">Text Color:</label>
    <div class="col-md-4">
      <input type="text" class="form-control" @bind-value=@Config.TextColor>
    </div>
    <div class="col-md-1"><button class="btn" style="background-color: #@(Config.TextColor)">SAMPLE</button></div>
  </div>
  <div class="mb-3 row">
    <label class="col-md-2 col-form-label">Border Color:</label>
    <div class="col-md-4">
      <input type="text" class="form-control" @bind-value=@Config.BorderColor>
    </div>
    <div class="col-md-1"><button class="btn" style="background-color: #@(Config.BorderColor)">SAMPLE</button></div>
  </div>
  <div class="mb-3 row">
    <label class="col-md-2 col-form-label">Randomize User Colors?</label>
    <div class="col-md-4">
      <input type="checkbox" class="form-check-input" @bind=@Config.RandomUserColors>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-md-2">
      <button class="btn btn-primary" @onclick=saveSettings>Save</button>
    </div>
  </div>
</div>

@inject LocalStorageJsInterop ls
@code {
  [Parameter]
  public Config Config { get; set; }


  private async Task saveSettings()
  {
    var saveConfig = JsonSerializer.Serialize(Config);
    await ls.save("config", saveConfig);
    StateHasChanged();
  }

}
