@inherits LayoutComponentBase

<div class="page" style="color:#efeff1; background-color:#18181b;">
  <main>
    <article class="content" style="color:#efeff1; background-color:#18181b;">
      @Body
    </article>
  </main>
</div>
